html{
    height: 100%
}

body{
    height: 97%
}

p{
    font-family: sans-serif;
}

#map{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
}

#banner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    font-family: sans-serif;
}

#chatbox{
    position: fixed;
    background-color: rgba(255,255,255,0.8);
    width: auto;
    height: auto;
    margin: auto;
    bottom: 3em;
    right: 5em;
    margin-top: 20px;
    padding: 5px;
}