html{
    height: 100%
}

body{
    height: 90%
}

title{
    position: fixed;
}

h1{
    color:darkseagreen;
    text-align: center;
    font-family: sans-serif;
    
}

p{
    font-family: sans-serif;
}

#map{
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
}

#chatbox{
    position: fixed;
    background-color: rgba(255,255,255,0.6);
    width: auto;
    height: auto;
    margin: auto;
    bottom: 4em;
    right: 4em;
    margin-top: 20px;
    padding: 5px;
}