html{
    height: 100%
}

body{
    height: 100%
}
h1{
    color:darkseagreen;
    text-align: center;
    font-family: sans-serif;
    
}

p{
    font-family: sans-serif;
}

#map{
    
    height: 50%;
    width: 50%;
    margin: auto;
}

#textbox{
    background-color: deepskyblue;
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
}